.footer {
    margin: auto;
    padding: 1rem;
    overflow-x: hidden;
    text-align: center;
    background-image: url('imgs/bg-footer.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .container {
        width: 100%;

        @include breakpoint-up(medium) {
            display: grid;
            grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
            text-align: start;
        }
    }

    &__column1 {
        margin-bottom: 2rem;

    }

    &__logo {

        img {
            width: 8.4375rem;
            height: 5.0625rem;
        }
    }

    &__description {
        font-size: 1.25rem;
        font-weight: 400;
    }

    &__column2 {
        margin-bottom: 1rem;

        @include breakpoint-up(medium) {
            margin-right: 2rem;
        }

        .title {
            color: $primary-color;
            font-size: 1.25rem;
            font-weight: 700;
            padding: 0.5rem 0;

            @include breakpoint-up(medium) {
                margin-bottom: 1.5rem;
            }
        }

        .links {
            display: inline-block;

            a {
                display: block;
                color: $white;
                font-size: 1rem;
                font-weight: 400;
                padding: 0.3rem 0;

                @include breakpoint-up(medium) {
                    margin-bottom: 0.7rem;
                }
            }
        }
    }
    
    &__column3 {
        margin-bottom: 1rem;

        @include breakpoint-up(medium) {
            margin-right: 2rem;
        }

        .title {
            color: $primary-color;
            font-size: 1.25rem;
            font-weight: 700;
            padding: 0.5rem 0;

            @include breakpoint-up(medium) {
                margin-bottom: 1.5rem;
            }
        }

        .links {
            display: inline-block;

            a {
                display: block;
                color: $white;
                font-size: 1rem;
                font-weight: 400;
                padding: 0.3rem 0;

                @include breakpoint-up(medium) {
                    margin-bottom: 0.7rem;
                }
            }
        }
    }

    &__column4 {
        margin-bottom: 1rem;

        @include breakpoint-up(medium) {
            margin-right: 2.95rem;
        }

        .title {
            color: $primary-color;
            font-size: 1.25rem;
            font-weight: 700;
            padding: 0.5rem 0;

            @include breakpoint-up(medium) {
                margin-bottom: 1.5rem;
            }
        }

        .links {
            display: inline-block;

            a {
                display: block;
                color: $white;
                font-size: 1rem;
                font-weight: 400;
                padding: 0.3rem 0;

                @include breakpoint-up(medium) {
                    margin-bottom: 0.7rem;
                }
            }
        }
    }

    &__column5 {
        margin-bottom: 1rem;

        @include breakpoint-up(medium) {
            margin-right: 2rem;
        }

        .title {
            color: $primary-color;
            font-size: 1.25rem;
            font-weight: 700;
            padding: 0.5rem 0;

            @include breakpoint-up(medium) {
                margin-bottom: 1.5rem;
            }
        }

        .links {
            display: inline-block;

            a {
                display: block;
                color: $white;
                font-size: 1rem;
                font-weight: 400;
                padding: 0.3rem 0;

                @include breakpoint-up(medium) {
                    margin-bottom: 0.7rem;
                }
            }
        }
    }

    &__copyright {
        position: relative;
        color: $blueChalk;
        font-size: 1rem;
        font-weight: 400;
        max-width: 77.5rem;
        text-align: center;
        margin: auto;
        margin-top: 4rem;
        padding-bottom: 2rem;
        
        &::before {
            position: absolute;
            content: "";
            top: -30px;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: $white;
        }
    }
}