.special {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
    background-image: url('imgs/bg-special.svg');

    &__title {
        font-size: 4rem;
        font-weight: 500;
        text-align: center;
        margin-bottom: 3.75rem;

        @include breakpoint-down(small) {
            font-size: 2.4rem;
        }
    }

    &__products {
        padding: 1rem;
        display: flex;
        overflow: auto;
        scroll-behavior: smooth;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */

        &::-webkit-scrollbar {
            display: none;
        }

        @include breakpoint-down(small) {
            padding: 1rem;
        }
    }

    &__item {
        min-width: 16.5625rem;
        height: 20.6875rem;
        list-style: none;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }

        @include breakpoint-down(small) {
            min-width: 14.875rem;
            height: 19.25rem;
        }

        &:nth-child(2) {
            min-width: 18.25rem;
            height: 25rem;

            @include breakpoint-down(small) {
                min-width: 15.875rem;
                height: 22.25rem;
            }
        }

        &:nth-child(3) {
            min-width: 24.875rem;
            height: 31.25rem;

            @include breakpoint-down(small) {
                min-width: 17.875rem;
                height: 24.25rem;
            }
        }

        &:nth-child(4) {
            min-width: 18.25rem;
            height: 25rem;

            @include breakpoint-down(small) {
                min-width: 15.875rem;
                height: 22.25rem;
            }
        }

        img {
            overflow: hidden;
            width: 100%;
            height: 100%;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
        }
    }
}